body {
    font-family: "Open Sans", sans-serif;
    background-color: #fffcf4;
  }
  
  .layout_padding {
    padding: 75px 0;
  }
  
  .layout_padding-top {
    padding-top: 75px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 75px;
  }
  
  /*header section*/
  
  .header_section {
    font-family: "Roboto", sans-serif;
    background-color: #a50073;
    color: #fff;
    min-height: 90px;
    padding: 1% 0;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  
  .custom_nav-container .navbar-toggler {
    border-color: #fff;
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
  
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  

  .nav-link:hover {
    color: #fefefe;
  }
  
  .logo_box {
    width: 80px;
  }
  
  .logo_box img {
    width: 100%;
  }
  
  .call_to_btn {
    display: inline-block;
    color: #fefefe;
    padding: 10px 35px;
    background-color: #f6bb08;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 0;
  }
  
  /*end header section*/
  
  /* slider section */
  
  .slider_section {
    height: calc(100vh - 90px);
  }
  
  .slider_section .carousel-indicators {
    top: 50%;
    left: -75px;
    transform: translateY(-50%);
    display: block;
    bottom: unset;
    right: unset;
  }
  
  .slider_section .carousel-indicators li {
    width: 16px;
    height: 16px;
    opacity: 1;
    margin: 0 auto;
  }
  
  .slider_section .carousel-indicators .active {
    width: 24px;
    height: 24px;
    background-color: #db25ae;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  
  .vert .carousel-item-next.carousel-item-left,
  .vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .vert .carousel-item-next,
  .vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
  }
  
  .vert .carousel-item-prev,
  .vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  .slider_section .slider_box {
    display: flex;
    position: relative;
    height: calc(100vh - 90px);
    background-image: url(../images/news\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slider_section .slider_box .fixed_company-detail {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
  }
  
  .slider_section .slider_box .fixed_company-detail p {
    width: 12px;
    text-align: center;
    word-break: break-word;
    color: #fff;
    text-transform: uppercase;
  }
  
  .slider_section .slider_box .slider-detail {
    color: #fff;
    width: 60%;
    margin-top: 14%;
    margin-left: 20%;
  }
  
  .slider_section .slider_box .slider-detail .slider_detail-heading h2 {
    font-weight: 100;
    text-transform: uppercase;
  }
  
  .slider_section .slider_box .slider-detail .slider_detail-heading h1 {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .slider_section .slider_box .slider-detail .slider_detail-text {
    width: 55%;
    color: #f8fafd;
  }
  
  .slider_section .slider_box .slider-detail .slider_detail-btn {
    display: flex;
  }
  
  .slider_section .slider_box .slider-detail .slider_detail-btn a {
    margin-top: 28px;
    padding: 16px 20px;
    background-color: #ee22e4;
    color: #fff;
  }
  
  /* end slider section */
  
  /*contact information */
  
  .contact_form-container {
    background-image: url(../images/guards.jpg);
  }
  
  .contact_form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact_form-container .contact_box {
    background-color: #fff;
    padding: 35px 40px;
    width: 50%;
    height: 60%;
    margin: 100px 50px;
  }
  
  .contact_form-container form input,
  .contact_form-container form input:focus,
  .contact_form-container form input:active {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #00cc99;
    width: 85%;
    margin-top: 12px;
    outline: none;
  }
  
  .contact_form-container form button {
    border: none;
    background-color: #f557f5;
    color: #fff;
    padding: 8px 20px;
    margin-top: 15px;
  }
  
  .contact_section .row .col-md-6 {
    padding: 0;
  }
  
  /* end contact section */
  
  /* info section */
  .info_section {
    background-color: #000202;
    font-family: "Roboto", sans-serif;
  }
  
  .info_section .info_detail {
    display: flex;
    align-items: center;
  }
  
  .info_section .info_detail p {
    color: #fff;
  }
  
  .address_link-container {
    display: block;
  }
  
  .address_link-container a {
    display: flex;
    color: #fff;
    margin: 15px 0;
    align-items: center;
  }
  
  .address_link-container a img {
    margin-right: 10px;
  }
  
  .info_section .news_container h3,
  .info_section .address_container h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
  }
  
  .info_section .news_container form {
    margin: 28px 0;
  }
  
  .info_section .news_container form input {
    border: none;
    background-color: #fff;
    width: 70%;
    padding: 7px 10px;
  }
  
  .info_section .news_container form button {
    border: none;
    background-color: #93257b;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  .info_section .news_container .social_container {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
 
  
  .footer_section {
    background-color: #93257b;
    padding: 20px 0;
    font-family: "Roboto", sans-serif;
  }
  
  .footer_section p {
    color: #fff;
    margin: 0;
    text-align: center;
  }
  
  .footer_section a {
    color: #fff;
  }
  
  /* end footer section*/
  